# ==========================================
# CẤU HÌNH API URL
# ==========================================
NEXT_PUBLIC_API_URL=https://api.shopdee.io.vn/api
NEXT_PUBLIC_API_URL_LOCAL=http://localhost:8000/api

# ==========================================
# CẤU HÌNH PUSHER / REVERB (Chat Realtime)
# ==========================================
NEXT_PUBLIC_PUSHER_APP_KEY=shopdee_key
NEXT_PUBLIC_PUSHER_APP_CLUSTER="mt1"

# Cấu hình WebSocket Host cho Reverb local (Để trống nếu dùng Pusher Cloud thật)
NEXT_PUBLIC_PUSHER_HOST=127.0.0.1
NEXT_PUBLIC_PUSHER_PORT=8080
NEXT_PUBLIC_PUSHER_SCHEME=http

# ==========================================
# CẤU HÌNH GOOGLE LOGIN
# ==========================================
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
