# ==========================================
# CẤU HÌNH API URL
# ==========================================
NEXT_PUBLIC_API_URL=https://api.shopdee.io.vn/api
NEXT_PUBLIC_API_URL_LOCAL=http://localhost:8000/api

# ==========================================
# CẤU HÌNH PUSHER (Chat Realtime)
# ==========================================
NEXT_PUBLIC_PUSHER_APP_KEY=
NEXT_PUBLIC_PUSHER_APP_CLUSTER="ap1"

# ==========================================
# CẤU HÌNH GOOGLE LOGIN
# ==========================================
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
