# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.env*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Backend
backend/vendor/
backend/.env
backend/.env.*
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/storage/logs/
backend/storage/framework/

# Global
.env
.env.*
.DS_Store
Thumbs.db
config.php